<div class="container-fluid">
    <div class="row my-3" *ngIf="(counter.length>0) && counter!==''">
        <div class="col-xl-12 col-lg-12 col-sm-12 col-md-12">
            <div class="card counter">
                <span>Time Left : {{counter}}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-sm-12 col-md-12 d-flex flex-row justify-content-center">
            <div class="card w-75 p-3">
                <div *ngIf="ques_data[index].imageName!=null">
                    {{rootUrl+ques_data[index].imageName}}
                    <img class="card-img-top p-5 custom-img" [src]="rootUrl+ques_data[index].imageName" alt="Card image cap">
                </div>
                <div class="card-body custom-img">
                    <p class="card-text">{{ques_data[index].qn}}</p>
                </div>
                <ul class="list-group">
                    <form [formGroup]="form">
                        <li *ngIf="ques_data[index].option1!=null" class="list-group-item">
                            <input type="radio" formControlName="Option" value=0 id="00">
                            <label for="00">&emsp;{{ques_data[index].option1}}</label>
                        </li>
                        <li *ngIf="ques_data[index].option2!=null" class="list-group-item">
                            <input type="radio" formControlName="Option" value=1 id="01">
                            <label for="01">&emsp;{{ques_data[index].option2}}</label>
                        </li>
                        <li *ngIf="ques_data[index].option3!=null" class="list-group-item">
                            <input type="radio" formControlName="Option" value=2 id="02">
                            <label for="02">&emsp;{{ques_data[index].option3}}</label>
                        </li>
                        <li *ngIf="ques_data[index].option4!=null" class="list-group-item">
                            <input type="radio" formControlName="Option" value=3 id="03">
                            <label for="03">&emsp;{{ques_data[index].option4}}</label>
                        </li>
                    </form>
                </ul>
                <div class="card-body content">
                    <button class="btn btn-secondary mx-2" (click)="previousQues()" [disabled]="(index===0)">Previous</button>
                    <button class="btn btn-secondary mx-2" (click)="nextQues()" [disabled]="(index==ques_data.length-1)">Save & Next</button>
                    <button class="btn btn-danger mx-2" [disabled]="!(index>=ques_data.length-1)" (click)="Submit()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>